/* common shared styles */
*{
    font-family: 'Work Sans', sans-serif;
}

.paragraph-main{
    color: #444343;
    line-height: 26px;
}

.common-layout-margin{
    margin: 0px 200px;
}

/* header styles */
.header{
    display: flex;
    justify-content: end;
    text-align: right;
    background-image: url('../images/banner/banner2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header-content-container{
    max-width: 550px;
    margin: 200px 200px 150px 0px;
}

.header-content-container > h1{
    color: #151414;
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 10px;
}

.contact-us-btn{
    border-radius: 5px;
    background: #F15B22;
    padding: 20px 25px;
    border: 0;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    margin-top: 14px;
}

/* failure section */
.failure-section{
    display: flex;
    gap: 80px;
    margin: 150px 300px 150px 200px;
    align-items: center;
}

.failure-title{
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
}

.failure-details li{
    color:#444343;
    line-height: 26px;
}

.failure-details ul{
    margin-top: 0px;
    list-style-type: none;
    padding-left: 0px;
}

.fa-solid{
    color: #16D887;
}

/* my plan styles */
.plan-item-container{
    display: flex;
    justify-content: space-between;
}

.plan-section > h2 {
    text-align: center;
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 50px;
}

.item{
    text-align: center;
}

.item h4{
    color: var(--dark-01, #151414);
    font-size: 30px;
    font-weight: 700;
    margin: 25px 0px 15px 0px;
}

.item p {
    color: #737272;
    font-size: 25px;
    font-weight: 500;
}

.plan-section{
    margin-bottom: 130px;
}